@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
html {
  overflow-x: hidden;
}

header {
  background: linear-gradient(180deg, #e5efff 0%, rgba(229, 239, 255, 0.262661) 83.7%, rgba(229, 239, 255, 0) 100%);
}
header nav {
  background-color: #e6efff;
}
header nav a {
  text-decoration: none;
  color: #111;
}
header nav li a {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #272d4e;
}
header .container {
  padding-top: 110px !important;
}
header .container h1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 57px;
  line-height: 58px;
  color: #272d4e;
}
header .container p {
  padding-top: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: #94a2b3;
}
header .container a {
  text-decoration: none;
}
header .container .but1 {
  background: #7854f7;
  border-radius: 60px;
  color: #e6efff;
  padding-top: 10px;
  padding-bottom: 10px;
}
header .container .right {
  background-image: url(/Images/back.png) !important;
  background-size: cover !important;
  background-position: 50% 50%;
}
header .container .right .cards {
  border-radius: 20px;
  width: 560px;
  height: 275px;
  position: absolute;
  top: 230px;
  right: -10px;
  background-color: #fff;
}
header .container .right .cards .imageS {
  position: absolute;
  top: -65px;
  left: -95px;
  width: 225.4px;
  height: 156.07px;
  border-radius: 20px;
  z-index: 999;
}
header .container .right .cards .plus-minus {
  background: #f6f6f6;
  border-radius: 4.99174px;
  width: 125.28px;
  height: 40.98px;
}
header .container .right .cards .toggle {
  position: absolute;
  top: 215px;
  left: 48px;
  background-color: #fbfcff;
  z-index: 9999;
  width: 280px;
  height: 184px;
  border-radius: 20px;
}
header .container .right .cards .toggle .bankTitle {
  margin-left: 22px;
}
header .container .right .cards .toggle .width {
  width: 94px;
  height: 55px;
}
header .container .right .cards .toggle .form-check-input {
  margin-left: -1rem;
}
header .container .right .cards .toggle .form-check {
  padding-left: 1rem;
}
header .container .right .cards .toggle small {
  font-size: 12px;
}
header .container .right .cards .pos {
  position: relative;
}
header .container .right .cards .pos .sale {
  position: absolute;
  top: -12px;
  left: 150px;
  width: 97.14px;
  height: 34.54px;
  color: #fff;
  background-color: #70c217;
  border-radius: 37.7902px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .container .right .cards .pos .cart {
  position: absolute;
  top: 210px;
  left: -18px;
  width: 45.64px;
  height: 45.64px;
  background: #ffba49;
  border-radius: 37.7902px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .container .right .cards .add {
  background: #7854f7;
  border-radius: 4.99174px;
  width: 268.12px;
  height: 49.18px;
  margin-top: 8px;
  margin-bottom: 15px;
}
header .container .right .cards .add a {
  text-decoration: none;
  color: #fff;
}
header .container .right .cards .bull {
  width: 25px;
  height: 25px;
  font-size: 11px;
  margin-right: 15px;
  margin-bottom: 15px;
  background-color: #f6f6f6;
}
header .container .right .cards .bull a {
  display: flex;
  justify-content: center;
  align-items: center;
}

section .container {
  text-align: center;
  padding-top: 100px;
}
section .container h1 {
  margin-bottom: 40px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 45px;
  line-height: 70px;
  text-align: center;
  color: #272d4e;
}
section .container h4 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 40px;
  color: #272d4e;
  margin-bottom: none;
}
section .container p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 30px;
  color: #94a2b3;
}
section .container a {
  text-decoration: none;
}
section .container img {
  width: 330px;
  height: 231px;
}
section .imgStyle {
  height: 300px !important;
  margin-top: 40px;
}

.bg-img {
  background-image: url(/Images/section.png);
  background-size: cover;
  background-position: left top bottom;
  padding-bottom: 70vh;
}
.bg-img .but2 {
  background-color: #70c217;
  color: #fff;
  border-radius: 25px;
  border-radius: 25px;
}
.bg-img .div {
  padding-left: 140px;
}
.bg-img .row .images {
  border-radius: 15px;
  box-shadow: -25px 20px #563bb936;
  backdrop-filter: blur(40%) !important;
  max-width: 300px;
}
.bg-img .pad-right {
  padding-right: 300px;
}
.bg-img .absol {
  position: absolute;
  top: 1850px;
  left: 360px;
}

.bg-rasm {
  background-image: url(/Images/img01.png);
  background-size: cover;
  background-position: top;
  padding-bottom: 20vh;
}
.bg-rasm .swiper {
  margin-top: 100px;
  margin-left: 300px;
}
.bg-rasm .swiper-wrapper {
  box-shadow: 0px 18px 52.8px 0px #d7e4f97e;
}
.bg-rasm .swiper-slide {
  position: relative;
  width: 550px !important;
  background-color: #fff !important;
}
.bg-rasm .swiper-slide .belgi {
  width: 184px;
  height: 131.44px;
  margin-bottom: 120px;
  margin-left: 45px;
}
.bg-rasm .swiper-slide .zIndex {
  position: absolute;
}

.members {
  background-image: url(/Images/peoples.png);
  background-size: cover;
  background-position: top;
  padding-bottom: 45vh;
}

.bgColor {
  background-color: #5f37ef;
  position: sticky;
  top: 0;
}
.bgColor .secBtn {
  border-radius: 60px;
  border: 2px solid #fff;
  margin-left: 75px;
  color: #fff;
}
.bgColor h5 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  color: #ffffff;
}
.bgColor span {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
}

footer {
  background-color: #7854f7;
}
footer a {
  text-decoration: none;
  font-size: 14px;
  color: #111;
}
footer p {
  color: #fff;
}
footer .bot {
  margin-bottom: 120px;
}
footer ul li {
  list-style-type: none;
}

/*# sourceMappingURL=style.css.map */
